{% extends "base.html" %} {% block title %} Movie List {% endblock %} 
{% block content %}
<h1>Movie List</h1>
<a href="{% url 'new_movie' %}"><button type="button" class="btn btn-primary">new movie</button></a>
{% if movies %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.title }}</a></td>
                        <td>{{ movie.get_genre_display }}</td>
                        <td>{{ movie.year }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No movies available.</p>
    {% endif %}
    <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Back to Home</button></a>
{% endblock %}